<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.channelDiski.android" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Channel Diski</name>
  <description>
        This App broadcast soccer and local news. Even if you did not make it to the stadium this App will provide you with live updates. With this App you can also win some cash worth tickets to watch any games of your choice. You can win by having the highest points which you accumulate by login in daily and commenting on posts.
    </description>
  <author email="info@channeldiski.com" href="http://channeldiski.com/">
      Channel Diski
  </author>
  <preference name="windows-appx-target" value="8.1-phone" />
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="SplashScreenDelay" value="2000"/>
  <preference name="FadeSplashScreenDuration" value="2000"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <icon src="icon.png" />
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
